{% load staticfiles i18n cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GENEROS</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"> 
        <link href="{% static 'css/magia.css' %}" rel="stylesheet" type="text/css">
        <link  href="{% static 'aos-master/dist/aos.css' %}" rel="stylesheet">
        
        <!-- django CMS -->
        {% render_block "css" %}

        <!-- Divio Cloud -->
        {{ ALDRYN_SNAKE.render_head }} 
    </head>

    <body>
        <!-- django CMS Toolbar -->
        {% cms_toolbar %}

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <header >
                <a href="http://localhost:8000/en"><img class="iedes-logo" src="{% static 'resources/logo.svg' %}" alt="iedes-logo"></a> 
                <a href="#nav"><i class="fa fa-bars fa-2x hamburger"></i></a>
                
        </header>
        <nav id="nav" class="nav">
            <a href="#close-nav" class="close"><i class="fas fa-times"></i></a>
            <ul>
                
                <li><a href="http://localhost:8000/en/historias/" ></i>HISTORIAS</a></li>
                
                <li><a href="tags.html"></i>DIVERSIDAD</a></li>
                
                <li><span class="fa fa-heart"></span><a href="tags.html">FEMINISMOS</a></li>
            </ul>
        </nav>

        <div class="articulo-destacado is-full-size heteronormatividad background-full-screen ">
    
            <a href="http://localhost:8000/en/article/sagradx-hermafrodita/">
                <p class="articulo-destacado-titulo text-shadow-pop-left">ARTÍCULO DESTACADO:</p>
                <p class="articulo-destacado-titulo text-shadow-pop-top">SAGRADO</p>
                <p class="articulo-destacado-titulo text-shadow-pop-top">SAGRADA</p>
                <p class="articulo-destacado-titulo text-shadow-pop-top">HERMAFRODITA</p>
                </a>
            
        </div>

        
        <section class="historias-section is-full-size background-full-screen ">
            <a href="http://localhost:8000/en/article/category/historias/" class="no-a-decor historias-title"><p class=" home-title">HISTORIAS</p></a>
            <!-- <div class="historia-img background-full-screen" > </div> -->
            <img class="historia-img"  data-aos="fade-right" src="{% static 'resources/historias-ventana.svg' %}" alt="" >
        </section>

        <section class="diversidad-section is-full-size background-full-screen ">
                <!-- <div class="diversidad-img "></div> -->
            <a href="http://localhost:8000/en/article/category/diversidad/" class="no-a-decor diversidad-title" data-aos="fade-left"><p class=" home-title"  >DIVERSIDAD</p></a>

            <img class="diversidad-img"   src="{% static 'resources/VICTOR-HUGO-ROBLES.jpg' %}" alt="" >

            
        </section>

        <section class="feminismos-section is-full-size background-full-screen">
            <a href="http://localhost:8000/en/article/category/feminismos/" class="no-a-decor fem-title historias-title historias-title "><p class=" home-title">FEMINISMOS</p></a>
            <!-- <div class="femin-img background-full-screen"></div> -->
            <img class="fem-img"  data-aos="fade-right" src="{% static 'resources/mujeres-indolentes.svg' %}" alt="mujeres indolentes">
        </section>

        <section class="ultimos-articulos is-full-size background-full-screen">
            <h1 class="title-ultimos-articulos home-title">ÚLTIMOS ARTÍCULOS</h1>
            <div class="container-ultimos-articulos">
                <a href="http://localhost:8000/en/article/brecha-y-desigualdad-de-las-mujeres-en-la-tecnologia/" class="no-a-decor"><div class="card1">
                        <h2>Brecha y desigualdad de las mujeres en la tecnología</h2>
                        <p><b>En el campo de la tecnología, dominado desde los 80's por el género masculino, los datos muestran ciertas alertas.</b></p>
                    </div>
                </a>

                <a href="http://localhost:8000/en/article/mary-wigman/" class="no-a-decor">
                    <div class="card2">
                            <h2>Mary Wigman</h2>
                            <br><br>
                            <p><b>Mary Wigman fue una pionera en su campo, revolucionando la idea de la mujer artista.</b></p>
                        </div>
                </a>
                <a href="http://localhost:8000/en/article/inconformidad/" class="no-a-decor">
                    <div class="card3">
                            <h2>InConformidad</h2>
                            <br>
                            <p><b>Aceptar lo que es esperado de nosotrxs o tomarlo como materia prima para crear algo nuevo?</b></p>
                        </div>
                </a>
                
                
            </div>
        </section>

        <div>
            <footer class="footer" style="padding: 2rem;flex-direction: column; font-family: 'Roboto Mono', monospace;">
                <p>Svéna (sánscrito: स्वेन) significa - 'por tu cuenta' o 'por la propia naturaleza condicionada'.
                        En la filosofía hindú, Svéna se refiere a la realización de la propia naturaleza verdadera que es diferente de la noción de que el cuerpo es el propio Ser.</p>
                        <a class="no-a-decor" href="https://github.com/karen-pal/svena" style="padding: 2rem;"><i class="fab fa-github"></i>Svena</a>
            </footer>
        </div>
    <script src="{% static 'aos-master/dist/aos.js' %}"></script>
    <!-- django CMS -->
    {% render_block "js" %}

    <!-- Divio Cloud -->
    {{ ALDRYN_SNAKE.render_tail }}     
    </body>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|PT+Mono&display=swap" rel="stylesheet"> 
   
    <script src="{% static 'js/magia-oscura.js' %}"></script>
    <script>AOS.init();</script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    
</html>