{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
<link rel="stylesheet" href="{% static '../../css/magia.css' %}">
<article class="article-category
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">
    
    <section class="container-category" style="text-align: center;">

        {% if not detail_view %}
        <div >
          <a class="no-a-decor" href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
            <h2 class="category-article-title to-uppercase" style="text-transform:uppercase">
                {% render_model article "title" "" "" "striptags" %}
            </h2>
            {% if article.lead_in %}
            <h3 class="category-article-subtitle to-uppercase" style="text-transform:uppercase">
                {% if not detail_view %}
                    {% render_model article "lead_in" "" "" "truncatewords:'20'|striptags" %}
                {% else %}
                    {% render_model article "lead_in" "" "" "striptags" %}
                {% endif %}
            </h3>
            {% endif %}
          </a>
          {% include "aldryn_newsblog/includes/author.html" with author=article.author %}
        </div>

    </section>
    
    {% endif %}

    {% if detail_view %}
        <div class="article-container">
            <div class="parrafo">
                <h2 class="category-article-title to-uppercase" style="font-size: 60px">
                    {% render_model article "title" "" "" "striptags" %}
                    
                    {% if article.tags.exists %}
                        <ul style="margin-left: 0">
                            {% for category in article.categories.all %}
                                <li class="categories"><a href="{% namespace_url 'article-list-by-category' category=category.slug namespace=instance.app_config.namespace default='' %}">{{ category.name }}</a></li>
                                {% if not forloop.last %}<span class="separator categories-separator">|</span> {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </h2>
                {% render_placeholder article.content language placeholder_language %}
                
            </div>
        </div>
    {% endif %}
</article>
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

